

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card" style="margin-top:12px">
        <img src="/static/TVS-X.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TVS X launched in India</h5>
          <h6 style="font-color:black" class="card-text">TVS has finally launched their new electric scooter X in India. The X is currently the most expensive electric scooter in India. </h6>
          <a href="#" class="btn btn-outline-success">Read More...</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin-top:12px">
        <img src="/static/glance.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h6>
          <a href="#" class="btn btn-outline-success">Read More...</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin-bottom:15px">
        <img src="/static/glance1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</h6>
          <a href="#" class="btn btn-outline-success">Read More...</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin-bottom:15px">
        <img src="/static/tata_ev.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TATA's New EV identity-tata.ev</h5>
          <h6 class="card-text">TATA has unveiled new brand identity for it's electric vehicle segment.  TATA is planning to launch 10 new EVs till year 2026.</h6>
          <a href="#" class="btn btn-outline-success">Read More...</a>
        </div>
      </div>
    </div>
  </div>