

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card" style="margin-top:12px">
        <img src="/static/TVS-X.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TVS X launched in India</h5>
          <h6 style="font-color:black" class="card-text">TVS has finally launched their new electric scooter X in India. The X is currently the most expensive electric scooter in India. </h6>
          <a href="/news" class="btn btn-outline-success">Read More...</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin-top:12px">
        <img src="/static/chetak.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bajaj Chetak Urbane 2024</h5>
          <h6 class="card-text">Bajaj Chetak Urbane E-Scooter Launched at a Price of Rs 1.15 Lakh. Will get two varients - Standard and Tecpac.</h6>
          <a href="/news" class="btn btn-outline-success">Read More...</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin-bottom:15px">
        <img src="/static/e-activa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Honda's First E-Bike for India</h5>
          <h6 class="card-text">Honda plans to launch its first electric scooter in India next year, likely named Activa Electric.</h6>
          <a href="/news" class="btn btn-outline-success">Read More...</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin-bottom:15px">
        <img src="/static/tata_ev.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TATA's New EV identity-tata.ev</h5>
          <h6 class="card-text">TATA has unveiled new brand identity for it's electric vehicle segment.  TATA is planning to launch 10 new EVs till year 2026.</h6>
          <a href="/news" class="btn btn-outline-success">Read More...</a>
        </div>
      </div>
    </div>
  </div>