<div class="card" style="margin-top:20px; margin-bottom:15px">
    <img src="/static/avinya.jpg" class="card-img-top" alt="...">
  
    <div class="card-body">
      <h5 class="card-title">Tata Motors to share JLR’s ‘EMA’ EV architecture for Avinya range of cars</h5>
      <h6 class="card-text">TPEML and JLR, both of which are Tata Motors subsidiaries, have entered into a Memorandum of Understanding for the licensing of EMA for upcoming Tata EVs.</h6>

      <h6>Tata Passenger Electric Mobility Ltd (TPEM) and Jaguar Land Rover Plc (JLR), both 100 percent subsidiaries of Tata Motors Limited (TML), have entered into a Memorandum of Understanding (MoU) for the licensing of JLR’s Electrified Modular Architecture (EMA) platform for a royalty fee (including electrical architecture, electric drive unit, battery pack and manufacturing know-hows) for the development of TPEM’s ‘premium pure electric’ vehicles series ‘Avinya’ on the EMA platform. TPEM and JLR will also enter into an Engineering Services Agreement (ESA) to support TPEM’s change content requirements for the first vehicle development.</h6>
    
    </div>
  </div>
