<div class="card" style="margin-top:25px; margin-bottom:25px">

    
    <video width="auto" display="flex" height="auto" style="margin:auto; margin-top:20px" controls>
      <source src="/static/acer_muvi.mp4" type="video/mp4">
      </video>
  
                <div class="card-body">
                  <h5 class="card-title">Acer Electric India plans to expand its network by offering Dealerships for it's products.</h5>
                  <h6 class="card-text">10 Feb 2024  07:00 A.M. IST<br><br>Acer Electric India is looking for aspiring individuals who share their vision of clean & green mobility. For this, theyre offering their dealerships across the nation. Anyone with an investment capacity between 40 Lakhs to 2 Crores, can become their partner</h6>
                 <h6>You can visit their official website www.acerelectric.in to register your expression of interest. Fill out the forms before it's too late !</h6>

