<div class="card" style="margin-top:25px; margin-bottom:25px">

  <img src="/static/evcharge.jpg" class="card-img-top" alt="..." style="padding:15px">
  
                <div class="card-body">
                  <h5 class="card-title">Tata Power EV Charging Solutions Limited and Indian Oil Corporation Limited (IOCL) have sign MoU for setting up fast and ultra-fast electric vehicle (EV) charging stations across India.</h5>
                  <h6 class="card-text">12 Dec 2023  12:40 A.M. IST<br><br>Tata Power EV Charging Solutions Limited (TPEVCSL), part of the Tata Power Group and a leading provider of EV Charging solutions, along with Indian Oil Corporation Limited (IOCL), have agreed through a Memorandum of Understanding (MoU) to establish fast and ultra-fast electric vehicle (EV) charging stations across India. The partnership aims to create a widespread and dependable intercity charging infrastructure.</h6>
                 <h6>This initiative will see the installation of over 500 EV charging points at various IOCL retail outlets, targeting major cities such as Mumbai, Delhi, Kolkata, Bengaluru, Ahmedabad, Pune, and Kochi, and key highways including the Mumbai-Pune Expressway, Salem-Kochi Highway, Guntur-Chennai Highway, and the Golden Quadrilateral. This strategic alliance aims to build a vast and reliable intercity charging network, mitigating range anxiety for EV drivers on intercity routes.</h6>

