  <!-- Dealer 1 -->
  <div class="border-bottom" style="margin-top:15px;margin-bottom:15px;padding-bottom:15px">

    <div class="row row-cols-1 row-cols-md-3 g-4">
  
        <div class="col">
          <div class="card" style="margin-top:5px;background-color:rgb(10,60,60)">
          <img src="/static/glance.jpg" class="rounded float-start" alt="Scooty" width="220" height="148">
          </div>
        </div>
    
        <div class="col">
          <div class="card" style="margin-top:5px; padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px">
            
              <div><h5 style="color:black;margin-bottom:5px">AMBA BAJAJ</h5></div>
              <div style="color:black;margin-bottom:5px"><b>Dealership:</b> Bajaj Scooters</div>
              <div style="color:black;margin-bottom:6px"><b>Location:</b> Bangaluru</div>
              <button type="button" class="btn btn-outline-success"  style="align:auto">Map Location >>></button>
           
          </div>
        </div>
      
        <div class="col">
          <div class="card" style="margin-top:5px;background-color:rgb(10,60,60)">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124447.04501357855!2d77.51668749755505!3d12.90963962524093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3db145171f67%3A0x745ed23775d8bd50!2sAmba%20Bajaj%20(Chetak)!5e0!3m2!1sen!2sin!4v1700561447926!5m2!1sen!2sin" width="220" height="146" style="border:1px" class="rounded float-start" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
    </div>
  </div>  

<!-- Dealer 2 -->
  <div class="border-bottom" style="margin-top:15px;margin-bottom:15px;padding-bottom:15px">

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card" style="margin-top:5px;background-color:rgb(10,60,60)">
          <img src="/static/glance.jpg" class="rounded float-start" alt="Scooty" width="220" height="148">
          </div>
        </div>

        <div class="col">
          <div class="card" style="margin-top:5px; padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px">

              <div><h5 style="color:black;margin-bottom:5px">DACUS EV</h5></div>
              <div style="color:black;margin-bottom:5px"><b>Dealership:</b> DACUS EV</div>
              <div style="color:black;margin-bottom:6px"><b>Location:</b>  Jind, Haryana</div>
              <button type="button" class="btn btn-outline-success"  style="align:auto">Map Location >>></button>

          </div>
        </div>

        <div class="col">
          <div class="card" style="margin-top:5px;background-color:rgb(10,60,60)">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505190.216642917!2d72.7907674044262!3d30.913580942209393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3912050e89ba9319%3A0x94c60a3c010651aa!2sDacus%20EV!5e0!3m2!1sen!2sin!4v1700564254488!5m2!1sen!2sin" width="220" height="146" style="border:1px" class="rounded float-start" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
    </div>  
  </div>  

<!-- Dealer 3 -->
  <div class="border-bottom" style="margin-top:15px;margin-bottom:15px;padding-bottom:15px">
    
    <div class="row row-cols-1 row-cols-md-3 g-4">


        <div class="col">
          <div class="card" style="margin-top:5px;background-color:rgb(10,60,60)">
          <img src="/static/glance.jpg" class="rounded float-start" alt="Scooty" width="220" height="148">
          </div>
        </div>

        <div class="col">
          <div class="card" style="margin-top:5px; padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px">

              <div><h5 style="color:black;margin-bottom:5px">JUNEJA E-World</h5></div>
              <div style="color:black;margin-bottom:5px"><b>Dealership:</b> JOY E-bike</div>
              <div style="color:black;margin-bottom:6px"><b>Location:</b> Mohali, Punjab</div>
              <button type="button" class="btn btn-outline-success"  style="align:auto">Map Location >>></button>

          </div>
        </div>

        <div class="col">
          <div class="card" style="margin-top:5px;background-color:rgb(10,60,60)">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3563441.3635781365!2d73.72300396930562!3d29.284583395866683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fef34c6b88f67%3A0xf7e4f22e5fb444ae!2sJuneja%20E-world!5e0!3m2!1sen!2sin!4v1700564565969!5m2!1sen!2sin" width="220" height="146" style="border:1px" class="rounded float-start" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>

    </div>  
  </div>

<!-- Dealer 4 -->
  <div class="border-bottom" style="margin-top:15px;margin-bottom:15px;padding-bottom:15px">

    <div class="row row-cols-1 row-cols-md-3 g-4">

      <div class="col">
        <div class="card" style="margin-top:5px;background-color:rgb(10,60,60)">
        <img src="/static/glance.jpg" class="rounded float-start" alt="Scooty" width="220" height="148">
        </div>
      </div>

      <div class="col">
        <div class="card" style="margin-top:5px; padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px">

            <div><h5 style="color:black;margin-bottom:5px">EV Mall</h5></div>
            <div style="color:black;margin-bottom:5px"><b>Dealership:</b> ZELIO Scooter</div>
            <div style="color:black;margin-bottom:6px"><b>Location:</b> Jalandhar, (Pb)</div>
            <button type="button" class="btn btn-outline-success"  style="align:auto">Map Location >>></button>

        </div>
      </div>

      <div class="col">
        <div class="card" style="margin-top:5px;background-color:rgb(10,60,60)">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d218139.6248410615!2d75.28391578671874!3d31.319450500000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5af7891b740b%3A0xd476a78b6652e68c!2sEv%20Mall%20Gupta%20Motors!5e0!3m2!1sen!2sin!4v1696972407775!5m2!1sen!2sin" width="220" height="146" style="border:1px" class="rounded float-start" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>  
  </div>