<footer class="text-center text-lg-start" style="background-color: #f1f1f1; margin-top:60px">
    <div class="container d-flex justify-content-center py-4">
      <button type="button" class="btn btn-success btn-lg btn-floating mx-2" style="background-color: darkgray;">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="btn btn-success btn-lg btn-floating mx-2" style="background-color: darkgray;">
        <i class="fab fa-youtube"></i>
      </button>
      <button type="button" class="btn btn-success btn-lg btn-floating mx-2" style="background-color: darkgray;">
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-success btn-lg btn-floating mx-2" style="background-color: darkgray;">
        <i class="fab fa-twitter"></i>
      </button>
    </div>

    <!-- Copyright -->
    <div class="text-center text-black p-3" style="background-color: rgba(0, 0, 0, 0.4);">
      © 2020 Copyright:
      <a class="text-white" href="https://evforumindia.com/">EVforumIndia.com</a>
    </div>
    <!-- Copyright -->
  </footer>
