<!Doctype Html>  
<Html>     
  <Head>      
    <Title> 
    </Title>      
      <style>

      .social-media-links {
      font-size: 40px; 
      color: white;
      }
      .social-media-links a:hover {
      color: #ffd700;
      }
    
    </style>

  </Head>  
  <Body>   

  
<!-- Footer -->

  <footer style="text-align:center; margin-top:30px; margin-bottom:15px;">
    <div class="social-media-links">
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <a href=""><i class='bx bxl-instagram'></i></a>
      <a href="https://www.facebook.com/profile.php?id=100093975941477"><i class='bx bxl-facebook'></i></a>
      <a href=""><i class='bx bxl-twitter'></i></a>
    </div>
  </footer>

  <!-- Copyright -->
    <div class="text-center text-black p-3" style="background-color:white">
      © 2020 Copyright:
      <a class="text-black" href="https://evforumindia.com/">EVforumIndia.com</a>
    </div>
    <!-- Copyright -->
 
  
  </Body>   
</Html>
